

@font-face {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-style: normal;
  src: local("SF Pro Display"), 
    url("../fonts/SF Pro Display/SF-Pro-Display-Regular.woff2") format("woff2"),
    url("../fonts/SF Pro Display/SF-Pro-Display-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 500;
  font-style: normal;
  src: local("SF Pro Display"), 
    url("../fonts/SF Pro Display/SF-Pro-Display-Medium.woff2") format("woff2"),
    url("../fonts/SF Pro Display/SF-Pro-Display-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 600;
  font-style: normal;
  src: local("SF Pro Display"), 
    url("../fonts/SF Pro Display/SF-Pro-Display-Semibold.woff2") format("woff2"),
    url("../fonts/SF Pro Display/SF-Pro-Display-Semibold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 700;
  font-style: normal;
  src: local("SF Pro Display"), 
    url("../fonts/SF Pro Display/SF-Pro-Display-Bold.woff2") format("woff2"),
    url("../fonts/SF Pro Display/SF-Pro-Display-Bold.woff") format("woff");
  font-display: swap;
}

//===================================================//

@font-face {
  font-family: "American Captain";
  font-weight: 400;
  font-style: normal;
  src: local("American Captain"), 
    url("../fonts/American Captain/American-Captain-Regular.woff2") format("woff2"),
    url("../fonts/American Captain/American-Captain-Regular.woff") format("woff");
  font-display: swap;
}

//===================================================//


@font-face {
  font-family: "Helvetica";
  font-weight: 400;
  font-style: normal;
  src: local("Helvetica"), 
    url("../fonts/Helvetica/helvetica-regular.woff2") format("woff2"),
    url("../fonts/Helvetica/helvetica-regular.woff") format("woff");
  font-display: swap;
}


//===================================================//
