html {
  height: 100%;
}

body {
  @include font-face(Rubik, Rubik-Regular, 400);
  background-color: $background-color;
  color: $dark;
  font-size: $font-size;
  line-height: $line-height;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.lock {
  overflow: hidden;
}


.accordion {
  max-width: 900px;
  margin: 0 auto;
  &__item {
    background-color: $white;
    padding: 40px;
    &:not(:last-child) {
      margin-bottom: 12px;
      @include sm(576) {
        margin-bottom: 8px;
      }
    }

    @include lg(992) {
      padding: 20px;
    }
    @include sm(576) {
      padding: 10px;
    }
  }

  &__item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: $transition;


    &.active {
      .accordion__item-trigger::after {
        transform: rotate(0deg);
      }
    }

    &:hover {
      .accordion__item-title {
        text-decoration: underline;
      }
    }
  }

  &__item-title {
    max-width: 91%;
    font-size: 24px;
    letter-spacing: -0.03em;
    line-height: 1.5;

    @include md(768) {
      font-size: 20px;
    }

    @include sm(576) {
      font-size: 18px;
    }
  }

  &__item-trigger {
    position: relative;
    background-color: $primary;
    width: 48px;
    height: 48px;
    transition: $transition;

    &::before,
    &::after {
      content: "";
      width: 16px;
      height: 2px;
      background-color: $white;
      position: absolute;
      top: 23px;
      left: 16px;
      transition: transform 0.3s ease 0s;

      @include md(768) {
        top: 20px;
        left: 12px;
      }
      @include sm(576) {
        width: 12px;
        height: 1px;
        top: 8px;
        left: 3px;
      }
    }

    &::after {
      transform: rotate(90deg);
    }

    &:hover {
      background-color: #f54209;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    @include md(768) {
      width: 40px;
      height: 40px;
    }

    @include sm(576) {
      width: 18px;
      height: 18px;
    }
  }

  &__item-content {
    display: none;
    padding-top: 14px;
    font-size: 18px;
    color: #939191;
    max-width: 85%;

    @include lg(992) {
      max-width: 95%;
    }

    @include sm(576) {
      font-size: 16px;
    }
  }
}

