.tabs {
  background-color: #f5f5f5;
  &__inner {
    display: flex;
    justify-content: space-between;

    @include md(768) {
      flex-direction: column-reverse;
    }
    @include sm(576) {
    }
  }

  &__content {
    max-width: 49%;
    padding: 64px 48px 43px;
    background-color: $white;
    @include xl(1200) {
      padding: 48px 32px 32px;
    }
    @include lg(992) {
      padding: 30px 20px 20px;
    }
    @include md(768) {
      max-width: 100%;
      margin-bottom: 20px;
      padding: 15px 15px;
    }
    @include sm(576) {
      padding: 0;
    }
  }

  &__content-item {
    display: none;
    
    &.tabs__content-item_active {
      display: block;
    }
  }

  &__content-img {
    margin-bottom: 32px;

    @include md(768) {
      margin: 0 auto 20px;
    }
  }

  &__content-title {
    margin-bottom: 16px;

    @include sm(576) {
      margin-bottom: 8px;
      padding: 0 10px;
    }
  }

  &__content-text {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: -0.03em;
    opacity: 0.6;
    margin-bottom: 32px;

    @include xl(1200) {
    }
    @include lg(992) {
      font-size: 20px;
    }
    @include md(768) {
      font-size: 18px;
    }
    @include sm(576) {
      font-size: 16px;
      padding: 0 10px;
    }
  }

  &__content-link {
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: $transition;

    &:hover {
      text-decoration: underline;
    }

    @include sm(576) {
      font-size: 16px;
      padding: 8px 10px;
    }
  }

  &__list {
    max-width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;

    @include xl(1200) {
      gap: 20px;
    }
    @include lg(992) {
    }
    @include md(768) {
      gap: 10px;
      max-width: 100%;
      margin-bottom: 10px;
    }
    @include sm(576) {
      gap: 5px;
    }
  }

  &__item {
    width: 45%;

    @include md(768) {
      width: 49%;
    }
  }

  &__item-card {
    @include lg(992) {
      height: 200px;
    }
    @include md(768) {
      height: 170px;
    }
    @include sm(576) {
      height: 150px;
    }
  }

  &__link {
    height: 100%;
    &_active {
      background-color: $primary;
      .item-card__icon {
        fill: $white;
      }
      .item-card__text {
        color: $white;
      }
    }

    @include md(768) {
      height: 120px;
    }
    @include sm(576) {
      height: 75px;
    }
  }
}
